{% extends 'base.html' %}
{% block content %}

<h2 class="display-4 text-center mt-4"> Administrar Contrato</h2>

<div class="container">
    <div class="mb-4">
        <form method="post" action="{{ url_for('contrato.add_inventario',nuevo_id = nuevo_id) }}">
            
                <div class="row my-3">
                    <div class="col">
                        <label for="inventario_id" class="form-label">Inventario</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select" id="inventario_id" name="inventario_id" aria-describedby="inventario_id" placeholder="seleccione inventario">
                            <option selected>seleccione inventario</option>
                            {% for iteminv in inventarioList %}
                            <option value="{{  iteminv.id  }}">
                                {{  iteminv.descripcion  }}                                  
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad"  aria-describedby="cantidad" required>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </button>
                    </div>
                        
                </div>
            </form> 
        </div>  
    </div>
    {% if contrato.elementos%}
    <div class="table-container">
        <table class="table table-hover table-bordered border-primary">
            <thead>
            <tr>
                <th>
                    acciones
                </th>
                <th>
                    # Descripción
                </th>
                <th>
                    Cantidad
                </th>
                
            </tr>
            </thead>
            <tbody>
                {% for result in contrato.elementos %}
                    <tr>
                        <td>
                            <a href="{{  url_for('contrato.delete_inventario',nuevo_id = nuevo_id, item_id = result.id)  }}" class="btn btn-danger btn-sm m-1">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        </td>
                        <td>
                            {{result.descripcion}}
                        </td>
                        <td>
                            {{result.cantidad}}
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endif  %}
    <div class=" my-3">
        <a class="btn btn-primary" href="{{ url_for('contrato.edit_contrato4', item_id=nuevo_id) }}" role="button">
            Siguiente
        </a>
    </div>


</div>




{% endblock %}