{% extends 'base.html' %}
{% block content %}

<h2 class="display-4 text-center mt-4"> Administrar Contrato</h2>

<div class="container">
    <div class="mb-4">
        <form method="post" action="{{ url_for('contrato.add_parqueadero',nuevo_id = nuevo_id) }}">
            
                <div class="row my-3">
                    <div class="col">
                        <label for="parqueadero_id" class="form-label">Arrendatario</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select" id="parqueadero_id" name="parqueadero_id" aria-describedby="parqueadero_id" placeholder="seleccione parqueadero">
                            <option selected>seleccione parqueadero</option>
                            {% for itempark in parqueaderoList %}
                            <option value="{{  itempark.id  }}">
                                {{  itempark.nplaca  }}  - lugar: {{itempark.place}}                                   
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </button>
                    </div>
                        
                </div>
            </form> 
        </div>  
    </div>
    {% if contrato.parqueaderos%}
    <div class="table-container">
        <table class="table table-hover table-bordered border-primary">
            <thead>
            <tr>
                <th>
                    acciones
                </th>
                <th>
                    Lugar
                </th>
                <th>
                    # placa
                </th>
                
            </tr>
            </thead>
            <tbody>
                {% for result in contrato.parqueaderos %}
                    <tr>
                        <td>
                            <a href="{{  url_for('contrato.delete_parqueadero',nuevo_id = nuevo_id, item_id = result.id)  }}" class="btn btn-danger btn-sm m-1">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        </td>
                        <td>
                            {{result.place}}
                        </td>
                        <td>
                            {{result.nplaca}} 
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endif  %}
    <div class=" my-3">
        <a class="btn btn-primary" href="{{ url_for('contrato.index') }}" role="button">
            Siguiente
        </a>
    </div>


</div>




{% endblock %}